.page-header{

	background-position: top center;
}
h1{
	font-size: 50px;
}
.buttons{
	text-align: center;
	margin-top: 35px;
}
.qr{
	margin-right: 25px;
}
.col1{
	background-color: #f6f7f8;
}
.col1 img{
	max-height: 150px;
	max-width: 150px;
}
