<html>
<head>
  <title></title>
</head>
<body>


<div class="container">
  <form method="POST">
        {% csrf_token %}
        {% form %}
        {% endform %}
              
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-raised" type="submit">
                    Submit Form
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </body>
</html>
              