<!DOCTYPE html>
<html>
<head>
    {% include 'material/includes/material_css.html' %}
    
    {% include 'material/includes/material_js.html' %}
</head>
<body>
  {% load material_form %} 


<div class="container">
  <form method="POST">
        {% csrf_token %}
        {% form %}
        {% endform %}
              
    <div class="row">
      <div class="col-md-4 ml-auto mr-auto text-center">
        <button class="btn btn-primary btn-raised" type="submit">
        Submit Form
        </button>
      </div>
    </div>
  </form>
</div>
        
      
</body>
</html>